<% include ./partials/header.ejs %>

<div class="container">


  <div class="row">
    <div class="col s12 m12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title center"><%=group.name%>'s Message Board</span>
          <div class="card-action">

            <a href="/messages/new">New Post</a>

          </div>


          <% if (group.messages[0]) { %>

          <div class="row">
            <p> <% group.messages.forEach( function(message) {  %></p>

            <div class="col s6 m4">
              <div class="card  blue lighten-3">
                <div class="card-content white-text">
                  <span class="card-title"><%=message.title%></span>
                  <p> By <%=message.poster.name%></p>
                  <p>Posted on <%=message.postTime%></p>
                </div>
                <div class="card-action">
                  <a href="/messages/show/<%=message._id%>">View</a>
                  <% if (message.posterId === userPopulated._id.toString()) { %>
                  <a href="#">Delete</a>
                  <% } %>
                </div>
              </div>
            </div>

            <% }) %>
          </div>


          <% } else { %>
          <p>There are no messages in this group!</p>
          <% } %>


        </div>
        <div class="card-action">
          <a href="/messages/new">New Post</a>
        </div>
      </div>
    </div>
  </div>






  <div class="row">
    <div class="col s12 m12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title center">Available Task Pool</span>
          <div class="card-action">

          </div>


          <% if (group.availableTasks[0]) { %>

          <div class="row">
            <p> <% group.availableTasks.forEach( function(task) {  %></p>

            <div class="col s6 m4">
              <div class="card blue darken-1">
                <div class="card-content white-text">
                  <span class="card-title"><%=task.title%></span>


                  <div class="row">
                    <div class="col s6 m6">
                      <h6>Points: <%=task.points%></h6>
                      <p>Due: <%= task.timeuntilcompletion %> </p>
                    </div>

                    <div class="col s6 m6">
                      <p><%=task.creatorName%></p>
                      <img class="card-pic z-depth-3 profile responsive-img circle" src="<%=task.creatorAvatar%>"
                        alt="">
                    </div>
                  </div>


                  <hr>
                  <p> Posted <%= task.postDuration %></p>
                </div>
                <div class="card-action">
                  <a href="/users/assigntask/<%= task.id %>">Claim</a>
                  <a href="/tasks/show/<%=task._id%>">Details</a>
                </div>
              </div>
            </div>

            <% }) %>
          </div>


          <% } else { %>
          <p>There are no available tasks in this group!</p>
          <% } %>


        </div>

      </div>
    </div>
  </div>


  <div class="row">
      <div class="col s6 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title center">Leaderboard</span>

  
  
            <% if (group.availableTasks[0]) { %>
  
            <div class="row">
              <p> <% group.availableTasks.forEach( function(task) {  %></p>
  
              <div class="col s12 m12">
                <div class="card blue darken-1">
                  <div class="card-content white-text">
                    
  
  
                    <div class="row">
                      <div class="col s6 m6">
                        
                        <h5><%=task.creatorName%></h5>
                        <h6>Points: <%=task.points%></h6>
                        
                      </div>
  
                      <div class="col s6 m6">
                          <img class="card-pic z-depth-3 profile responsive-img circle" src="<%=task.creatorAvatar%>"
                          alt="">
                          
                      </div>
                    </div>
  
                  </div>

                </div>
              </div>
              <% }) %>
              <% } %>
            </div>  
  
          </div>
  
        </div>
      </div>


      <div class="col s6 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title center">Recently Completed</span>
  
    
    
              <% if (group.availableTasks[0]) { %>
    
              <div class="row">
                <p> <% group.availableTasks.forEach( function(task) {  %></p>
    
                <div class="col s12 m12">
                  <div class="card blue darken-1">
                    <div class="card-content white-text">
                      
    
    
                      <div class="row">
                        <div class="col s6 m6">
                          
                          <h5><%=task.creatorName%></h5>
                          <h6>Points: <%=task.points%></h6>
                          
                        </div>
    
                        <div class="col s6 m6">
                            <img class="card-pic z-depth-3 profile responsive-img circle" src="<%=task.creatorAvatar%>"
                            alt="">
                            
                        </div>
                      </div>
    
                    </div>
  
                  </div>
                </div>
    
                <% }) %>
                <% } %>
              </div>  
    
            </div>
    
          </div>
        </div>
    </div>



</div>

<% include ./partials/footer.ejs %>